# LLM - OpenRouter
OPENROUTER_API_KEY=

# Backend & Socket Config
BACKEND_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000

# MiniMax TTS (Text-to-Speech)
MINIMAX_API_KEY=
MINIMAX_GROUP_ID=
