# LLM - OpenRouter
OPENROUTER_API_KEY=

# Backend & Socket Config
BACKEND_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000

# MiniMax TTS (Text-to-Speech)
# Agrega las llaves de tu equipo para rotar el límite diario (11k chars por llave)
MINIMAX_GROUP_ID=
MINIMAX_API_KEY_1=
MINIMAX_API_KEY_2=
MINIMAX_API_KEY_3=
MINIMAX_API_KEY_4=
